.Header {
  /* To ensure it's above everything else */
  z-index: 1000;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding-block: 2em;
}

.Header::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(25px);
  border-radius: 10px;
}

.Header__business-name {
  font-size: clamp(1.5rem, 3vw, 1.8rem);

  color: var(--title-text-color);
}

.Header__logo-container {
  display: flex;
  align-items: center;
  gap: 1em;

  opacity: 0.6;
}

.Header__logo {
  max-width: 60px;
}
