.Navigation__list-big {
  display: flex;
  align-items: center;

  gap: 1.5em;
  font-size: 1.2rem;
}

.Navigation__list-small {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;

  /* Box shadow for the right */
  box-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.5);
  background: black;
  animation: slideFromLeft 1s forwards;
}

.Navigation__link {
  position: relative;

  color: var(--text-color);
}

.Navigation__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform: scaleY(2);

  transition: all 0.5s;
  border-bottom: 0.1vw solid var(--text-color);
  border-top: 0.1vw solid var(--text-color);
  opacity: 0;
}

.Navigation__link:focus::before,
.Navigation__link:hover::before {
  opacity: 1;
  transform: scaleY(1);
}
