.ContactPage {
  margin: 5em 0;

  /* border: 2px solid blue; */
}

.ContactPage__content {
  display: flex;
  flex-direction: column;
  gap: 5em;

  /* border: 2px solid yellow; */
}

.ContactPage__image {
  flex-basis: 50%;
  max-height: 400px;
  object-fit: cover;
  object-position: center 80%;

  border-radius: 1em;
  box-shadow: var(--image-box-shadow);
}

.ContactPage__info {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  font-size: clamp(1.05rem, 1.15vw, 1.25rem);
  /* border: 2px solid green; */
}

.ContactPage__details,
.ContactPage__hours-socials {
  display: flex;
  flex-direction: column;

  /* border: 2px solid cyan; */
}

.ContactPage__socials-links {
  display: flex;
  gap: 1em;
}

.ContactPage__socials-links img {
  width: 2.5em;
  height: 2.5em;
  opacity: 0.6;
  transition: all 0.3s;
}

.ContactPage__socials-links img:focus,
.ContactPage__socials-links img:hover {
  scale: 1.1;
  opacity: 1;
}

.ContactPage__email {
  margin: 5em 0;
  font-size: clamp(1rem, 6.25vw, 6rem);

  text-align: center;
}

.ContactPage__map {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 400px;
  max-width: 800px;

  border-radius: 1.5em;
  border: 0;
  box-shadow: var(--image-box-shadow);
}

.ContactPage__form-container {
  margin-top: 10em;
  padding: 5em 2em;

  border-radius: 1em;
  background: var(--gradient-container-default);
  box-shadow: var(--box-shadow-container-default);
  text-align: center;
}

.ContactPage__form-title {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 1em;
}

@media (min-width: 700px) {
  .ContactPage__image {
    object-position: center 60%;
  }

  .ContactPage__email {
    margin: 3.5em 0;
  }
}

@media (min-width: 1000px) {
  .ContactPage__content {
    flex-direction: row;
  }

  .ContactPage__info {
    gap: 3em;
  }

  .ContactPage__details,
  .ContactPage__hours-socials {
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
  }

  .ContactPage__details p,
  .ContactPage__hours-socials-container {
    width: 50%;
  }

  .ContactPage__email {
    margin: 2.5em 0;
  }
}
