.ServicesPage {
  margin: 5em 0;

  /* border: 2px solid magenta; */
}

.ServicesPage__services-container {
  display: flex;
  flex-direction: column;
  gap: 10em;
  /* background-color: red; */
}

.Service-two img,
.Service-four img {
  order: 2;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/

.ServicesPage__pricing {
  margin-top: 15em;
}

.ServicesPage__pricing-title {
  margin-bottom: 1.5em;

  font-size: clamp(3.5rem, 5vw, 5rem);
  text-align: center;
}

.ServicesPage__pricing-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;

  text-align: center;
}

.ServicesPage__pricing-options--trial {
  padding-block: 2em;
  flex: 1;

  background: var(--trial-pricing-option-gradient);
  box-shadow: 0 0 1.5em rgba(144, 202, 249, 0.4),
    inset 0 0 2em rgba(144, 202, 249, 0.3);
}

.ServicesPage__pricing-options--trial .PricingOption__service:nth-child(3),
.ServicesPage__pricing-options--trial .PricingOption__service:nth-child(4) {
  opacity: 0.4;
}

.ServicesPage__pricing-options--premium {
  padding-block: 3.5em;
  flex: 2;

  background: var(--premium-pricing-option-gradient);
  box-shadow: 0 0 2.5em rgba(255, 212, 128, 0.5),
    inset 0 0 4em rgba(255, 212, 128, 0.3);
}

.ServicesPage__pricing-options--standard {
  padding-block: 2em;
  flex: 1;

  background: var(--standard-pricing-option-gradient);
  box-shadow: 0 0 2em rgba(179, 157, 219, 0.5),
    inset 0 0 3em rgba(179, 157, 219, 0.3);
}

.ServicesPage__pricing-options--standard .PricingOption__service:nth-child(4) {
  opacity: 0.4;
}

/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/

.ServicesPage__closing-cta {
  margin-top: 15em;
  padding: 5em 2em;

  background: var(--gradient-container-default);
  box-shadow: var(--box-shadow-container-default);
  border-radius: 1em;
  overflow: hidden;
}

.ServicesPage__closing-cta-wrapper {
  max-width: 60ch;
  margin: 0 auto;
  text-align: center;
}

.ServicesPage__closing-cta-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;

  /* background-color: red; */
}

.ServicesPage__bubble-icon {
  width: 15em;
  height: 15em;
}

.ServicesPage__bubble-pause-icon {
  width: 2.5em;
  height: 2.5em;

  cursor: pointer;
}

.ServicesPage__bubble-pause-button {
  display: flex;
  align-items: end;

  background: none;
}

.ServicesPage__closing-cta-title {
  font-size: clamp(3rem, 4vw, 5rem);
  margin-bottom: 0.5em;
}

.ServicesPage__closing-cta-text {
  font-size: clamp(1rem, 1.25vw, 1.5rem);
  margin-bottom: 2em;
}

.ServicesPage__closing-cta-button {
  font-size: 1.5rem;
  padding: 0.75em 2em;
}

@media (min-width: 1000px) {
  .ServicesPage__pricing {
    margin-top: 17em;
  }

  .ServicesPage__closing-cta {
    margin-top: 17em;
  }

  .ServicesPage__pricing-options {
    flex-direction: row;
  }
}
