.ServicesPage {
  margin: 5em 0;

  /* border: 2px solid magenta; */
}

.ServicesPage__service-container {
  display: flex;
  flex-direction: column;
  gap: 10em;
  /* background-color: red; */
}

/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/
/*==============================================*/

.ServicesPage__pricing {
  margin-top: 15em;

  /* border: 2px solid yellow; */
}

.ServicesPage__pricing-title {
  margin-bottom: 1.5em;

  font-size: clamp(3rem, 4vw, 5rem);
  text-align: center;
}

.ServicesPage__pricing-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;

  text-align: center;
  /*  border: 2px solid red; */
}

@media (min-width: 1000px) {
  .ServicesPage__pricing {
    margin-top: 20em;
  }

  .ServicesPage__pricing-options {
    flex-direction: row;
    justify-content: space-between;
  }
}
