.CTA {
  display: inline-block;
  padding: 0.75em 1em;

  background: var(--cta-button-gradient);
  color: var(--cta-text-color);
  border-top-left-radius: 1em;
  font-weight: bold;
  transition: all 0.2s;
}

.CTA:hover,
.CTA:focus {
  transform: scale(1.05);
}
