/*============================
RESETS=====================
==============================*/

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("./fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

/* Ensure consistent box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
}

/* Enhance text rendering and set a global line-height for improved readability */
html {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color-scheme: light dark;
}

/* Optimize line-height for headings to enhance title readability */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance; /* Distribute text evenly in headings */
}

/* Improve paragraph readability with controlled text wrapping and width */
p {
  text-wrap: pretty; /* Enhanced wrapping for paragraphs */
  max-width: 60ch; /* Max width based on character count for optimal reading */
}

/* Remove default list styling for cleaner, customizable lists */
ul,
ol {
  list-style: none;
}

/* Set default styles for media elements for better control and responsiveness */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Normalize typography styles in form elements for consistency */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
}

/* Reset focus styles */
button:is(:hover, :focus) {
  outline-color: black;
}

/* Normalize link styles for a clean slate */
a {
  text-decoration: none;
}

/* Indicate interactive elements with pointer cursor  */
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select,
button,
a {
  cursor: pointer;
}

/*============================
GENERAL STYLES================
==============================*/
:root {
  --striking-color: rgb(185, 39, 39);
  --title-text-color: whitesmoke;
  --text-color: rgb(196, 196, 196);
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    to bottom right,
    black 0%,
    black 40%,
    rgb(116, 23, 23) 100%
  );
}

.gradient-text {
  background: linear-gradient(
    to right,
    var(--striking-color),
    #ff5722,
    #ffeb3b,
    #ff9800,
    var(--striking-color),
    #ffeb3b,
    #ff9800,
    #ff5722
  );
  background-size: 300%, 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: gradient 6s ease-in-out infinite;

  /* To make the text wrap if too big */
  word-break: break-word;
  overflow-wrap: break-word;
}

p,
strong {
  color: var(--text-color);
}

/* Setting color via var(--text-color) in the global selector (selector right above) prevents specificity from overriding it.  
   The code inside the selector below ensures the correct text color is applied inside pricing cards. */
.PricingOption p,
.PricingOption strong,
.PricingOption h4 {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  font-family: "Oswald", sans-serif;
}

/*============================
ANIMATIONS====================
==============================*/

/* Animation for your navigation menu on mobile devices */
@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateX(0%);
    opacity: 1; /* Fully visible */
  }
}

/* Animation for your gradient text color */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
