.Service {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-between;

  /* border: 2px solid blue; */
}

.Service__content {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 1.5em;
  /* border: 2px solid green; */
}

.Service__image {
  flex-basis: 50%;
  max-height: 350px;
  object-fit: cover;

  border-radius: 2em;
  box-shadow: var(--image-box-shadow);
}

.Service__title {
  font-size: clamp(2.5rem, 3vw, 4rem);
}

.Service__cta {
  align-self: flex-start;
}

@media (min-width: 1000px) {
  .Service {
    flex-direction: row;
    gap: 5em;
  }
}
